<?xml version="1.0" encoding="utf-8"?>

<!--##################################################################-->
<!--                                                                  -->
<!--     CSCI-546, Spring 2009 Assignment III Solution by Group #7    -->
<!--                                                                  -->
<!--     Group Members: Chang, Chin-Kai      chinkaic@usc.edu         -->
<!--                    Moon, Ji Hyun        jihyunmo@usc.edu         -->
<!--                    Patlolla, Avinash    patlolla@usc.edu         -->
<!--                    Viswanathan, Manu    mviswana@usc.edu         -->
<!--                                                                  -->
<!--##################################################################-->
<!--                                                                  -->
<!-- This file specifies the Android manifest for a photo manager     -->
<!-- application that tags new pictures taken on the gPhone with the  -->
<!-- current GPS coordinates and optional audio.                      -->
<!--                                                                  -->
<!--##################################################################-->

<!--##################################################################-->
<!--                                                                  -->
<!-- AssignmentThree -- a photo manager application for the gPhone    -->
<!--                                                                  -->
<!-- Copyright (C) 2009 Chin-Kai Chang                                -->
<!--                    Ji Hyun Moon                                  -->
<!--                    Avinash Patlolla                              -->
<!--                    Manu Viswanathan                              -->
<!--                                                                  -->
<!-- This file is part of AssignmentThree.                            -->
<!--                                                                  -->
<!-- AssignmentThree is free software; you can redistribute it and/or -->
<!-- modify it under the terms of the GNU General Public License as   -->
<!-- published by the Free Software Foundation; either version 2 of   -->
<!-- the License, or (at your option) any later version.              -->
<!--                                                                  -->
<!-- AssignmentThree is distributed in the hope that it will be       -->
<!-- useful, but WITHOUT ANY WARRANTY; without even the implied       -->
<!-- warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. -->
<!-- See the GNU General Public License for more details.             -->
<!--                                                                  -->
<!-- You should have received a copy of the GNU General Public        -->
<!-- License along with AssignmentThree; if not, write to the Free    -->
<!-- Software Foundation, Inc., 59 Temple Place, Suite 330, Boston,   -->
<!-- MA 02111-1307 USA.                                               -->
<!--                                                                  -->
<!--##################################################################-->

<!--##################################################################-->
<!--
     REVISION HISTORY

     $HeadURL$
     $Id$
-->
<!--##################################################################-->

<!--===================== MANIFEST BOILERPLATE =======================-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cs546.group7"
          android:versionCode="1"
          android:versionName="1.0">

<!--=========== ACTIVITIES FOR PHOTO MANAGER APPLICATION =============-->

<application android:label="@string/app_name">

<!-- The application's main screen -->
<activity android:name=".AssignmentThree"
          android:label="@string/app_name">
   <intent-filter>
      <action android:name="android.intent.action.MAIN"/>
      <category android:name="android.intent.category.LAUNCHER"/>
   </intent-filter>
</activity>

</application>

<!--========================== PERMISSIONS ===========================-->



<!--===================== MANIFEST BOILERPLATE =======================-->

</manifest>
